Read following mail and check for:

- The email should be clear and concise
- The email should be signed by {{name}}.
- The tone/personality is {{style}}.

Here are some examples of a well written mail:
{{email_examples_few_shot}}

Here is the text, remember your task and improve if necessary:
{{ text_to_answer }}

